.rsync_cache/
*~
*.lock
*.DS_Store
*.swp
*.out
nbproject/

# Bootstrap
app/bootstrap*

# Symfony directories
vendor
vendor/*
app/logs/*.*
app/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

