{% extends '::base.html.twig' %}
{% block top %}
<div class="page-top-1">
			<div class="page-top-2">
				<div class="wrapper">
<div id="top">
                                    <div class="vertical width100">
                                        <div class="module mod-blank   first last">
                                            <div class="demoteaser">
                                                <img src="{{ asset('images/home_top_welcome.png')}}" alt="Hi, my name is Matt." height="350" width="375">
                                                <div class="text">
                                                    <h3 class="title">Ciao!</h3>
                                                    <h4 class="subtitle"><span>Benvenuto nel sito della<br/></span> consegna <span>degli</span> elaborati.</h4>
                                                    <p>

</p>
<a href="{{ path('consegna') }}">                                                    
<img src="{{ asset('images/bottoneLogin.png')}}" alt="consegna">
</a>
                                                </div>
                                            </div>		
                                        </div>						</div>
                            </div>
                        </div>	
                    </div>
                 </div>
{% endblock %}
