{% extends '::base.html.twig' %}

{%block body %}

<div class="alert">
Bene.
Hai consegnato a {{insegnante}} ({{ compito }}) i seguenti file: 

<ul>
 {%- for file in files %}
<li>{{ file }}</li>
{%- endfor %}
</ul>
<p>
In bocca al lupo!
</div>
</div>
<div id="div-bottone-consegna"  style="margin-left: 300px;">
<a href="{{ path ('consegna') }}" class="readmore">
Ritorna alla pagina precedente</a>
{% endblock %}

